*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: rgb(248, 206, 213);
    border: 5px solid plum;
    color: black;
    border-radius: 30px;
}

header, footer, main{ /* could also just do body */
    max-width: 36rem; /* normal size is 16px = 576 */
    margin: 0 auto; /* centers left-right */
    padding: 2rem;
}
  
.p1 {
    font-family: "Times New Roman", Times, serif;
  }

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#profile-pic{
    width: 300px;
    height: auto;
    box-shadow: 7px 7px 10px hsl(312, 6%, 49%);
}