@media only screen and (min-width:900px){
    nav button{
        display: none;
    }

    nav ul#navigation{
        display: flex;
        margin-left: 2vw;
        border-left: 1pz solid rgba(0,0,0,0,.3);
    }

    nav ul li a{
        padding: .5rem 1rem
    }

    .spot-3{
        display: revert;
    }

    

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* event weather and join */
   
    .event-weather{
    flex-direction: column;
    margin: inherit;
    display: inherit;
    column-gap: inherit;
    
}

.column-1{
    grid-column: 1/2;
    grid-row: 1;
    margin-top: -8px;

}

.event{
    width: revert;
}
.weather{
    width: revert;
}
.join{
    
} 



/* hero and news */

.column-2{
    grid-column: 2/3;
    margin-top: -16px;
    margin-left: 1em;
    margin-right: 1em;
}

.hero{
   min-height: 452px;
}
.news{
    min-height: 200px;
} 



/* spotlights */
.spotlights p{
    margin: 1em;
}
.column-3{
    grid-column: 3/4;
    grid-row: 1;
}
.spotlights{
    display: flex;
    flex-direction: column;
    height: 704px;
}
.spot-1, .spot-2{
    width: inherit;
}
.spot-1, .spot-2, .spot-3{
    margin: revert;
    padding: revert;
}
}