@media only screen and (min-width:900px){
    nav button{
        display: none;
    }

    nav ul#navigation{
        display: flex;
        margin-left: 2vw;
        border-left: 1pz solid rgba(0,0,0,0,.3);
    }

    nav ul li a{
        padding: .5rem 1rem
    }

    .spot-3{
        display: revert;
    }


    main{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 1em;
        column-gap: 1em;
    }
    .column-1, .column-2, .column-3{
        display: flex;
        flex-direction: column;
    }

    
    



/* event weather and join */
    .column-1{
        order: -1;
        gap: 1em;
    }

    .event-weather{
        flex-direction: column;
        margin: inherit;
        display: inherit;
        column-gap: inherit;
        
    }
    .join{
        flex-grow: 1;
        margin: 0;
    }
    .event{
        flex-grow: 1;
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
    }
    .weather{
        flex-grow: 1;
        width: 100%;
        margin: 0;

    }
   


/* column ratios */
    .column-1, .column-3{
        flex-grow: 1;
    }
    .column-2{
        flex-grow: 2;
        gap: 1em;
    }

    
    /* hero and news */
    .hero{
        flex-grow: 2;
        margin: 0px;
    }
    .news{
        flex-grow: 1;
        margin: 0px;
    }
    
    

    /* spotlights */
   .spotlights p{
       margin: 1em;
   }
   .column-3{
    gap: 1em;
   }
   .spotlights{
        display: flex;
        flex-direction: column;
   }
    .spot-1, .spot-2{
        width: inherit;
    }
}