@media only screen and (min-width:660px){
    
    nav ul li a{
        padding: .7rem 1rem
    }

    /* Main Section */
    #join{
        display: revert;
    }
    .event-weather{
        display: flex;   
        margin-top: -15px;
        margin-bottom: -15px; 
    }
    #weather{
        margin-left: 0em;
        width: 40%;
    }
    #weather img{
        width: 75px;
        top: 27%;
        left: 5%;
    }
    #event{
        width: 60%;
    }
    .spotlights{
        display: flex;
    }
    #spot-1, #spot-2{
        width: 50%;
    }


    /*----------------*/
    /* Join Page */
    /*----------------*/
    .form-box label{
        display: block;
        text-align: left;
    }
}



