/* setting the colors */
:root {
    --orange: #e05726;
    --blue: #0050a6;
    --light-blue: #caf0f8;
    --grey: #605f5e;
  }

.social{
    gap: 1em;
}

nav{
    background-color: var(--blue)
}
nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
nav button:hover{
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav ul li a{
    display: flex;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, .5);
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, .3)
}

nav ul{
    display: none;
}
nav ul.open{
    display: block;
}


/* Formats the header above the nav */
.header-flex{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
}

.top-header{
    display: flex;
    flex-direction: row;
    justify-items: end;
    align-items: end;
    justify-content: space-between;
}

.top-header img, footer img{
    padding: 10px;
    margin-top: -100px;
    z-index: -100;
}

.social{
    display: flex;
    padding: 10px;
}


/* date */
.date{
    background: var(--light-blue);
    padding: 1em;
    border: 2px solid var(--orange);
    color: var(--grey);
    text-align: center;
}

/* social media icons */
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

/* hides the X when */
#hamburger span:nth-child(1){
    display: block;
}
#hamburger span:nth-child(2){
    display: none;
}

/* hides the hamburger bun icon */
#hamburger.open span:nth-child(1){
    display: none;
}
#hamburger.open span:nth-child(2){
    display: block;
}




  /* Main Section */
main div, .spotlights{
    background-color: var(--light-blue);
    border: 2px solid var(--orange);
    min-height: 200px;
    color: var(--grey);
    padding: 1em;
    margin: 1em;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    z-index: -1;
}

p{
    z-index: 1;
    font-family: Lora;
    font-size: 16px;
}

main{
    margin: 1em;
    z-index: 100;
}

/* hero */
#hero{
    position: relative;
    padding: 0px;
}

#hero h3{
    position: absolute;
    top: 10px;
    right: 20px;
}

.column-2 #hero .chamber{
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: var(--orange);
    color: white;
    width: 9em;
    padding: 15px;
    border-radius: 10px;

}

#hero img{
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* weather */
#weather{
    position: relative;
}

#weather img{
    z-index: -2;
    position: absolute;
    top: 20%;
    left: 10%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
}

#spot-1, #spot-2{
    background-color: var(--light-blue);
    border: 2px solid var(--orange);
    min-height: 200px;
    color: var(--grey);
    padding: 1em;
    z-index: 0;
}

#spot-3{
    display: none;
}

#join{
    display: none;
}

/* Footer */
footer{
    text-align: center;
}
footer img{
    margin: 0;
}

/*----------------*/
/* Discover Page */
/*----------------*/
#main-discover{
    display: flex;
    flex-direction: column;
}

#main-discover img:hover{
    box-shadow: 0px 0px 10px black;
}


/*----------------*/
/* Join Page */
/*----------------*/
#main-join{
    /* display: flex;
    flex-direction: column;
    text-align: center; */
    box-sizing: border-box;
    font: 20px;
    line-height: 2;
    margin: 1rem auto;
    width: 90%;
    max-width: fit-content;
}
*, *::before, *:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Form */
select, option, input, label, button{
    padding: 0.2rem 1rem;
    font-size: 1rem;
}
.form-box{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}
.form-box label{
    display: none;
}
.form-box input, 
.form-box select, 
.form-box textarea{
    flex-basis: 100%;
}
.form-box button{

}

/*----------------*/
/* Thank You Page */
/*----------------*/
#thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}